.table_container {
  margin: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  .table {
    table-layout: auto;
    width: 100%;

    th,
    td {
      text-align: left;
      padding: 0.8rem 3rem;
      font-size: 1.3rem;
      color: #5303f1;
    }

    td {
      font-size: 1.3rem;
      font-weight: 500;
      color: #151d26;

      a {
        color: #151d26;
        transition: 0.4s;

        &:hover {
          color: #5303f1;
        }
      }

      button {
        padding: 0.5rem 2rem;

        border-radius: 0.3rem;
        border: none;

        font-size: 1.1rem;
        font-weight: 600;

        color: #151822;

        transition: 0.5s;
      }

      span {
        color: #313d4b;
        font-weight: 600;
      }
    }
  }
}
