.navbar {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  padding: 1.5rem 10%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(255, 255, 255, 0.931);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  border-bottom: 1px solid #5656563f;

  .logo img {
    width: 200px;
  }

  .nav_right {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .links {
    text-align: center;

    .link,
    .active_link {
      padding: 0.7rem 1.5rem;
      margin: 0 0.2rem;

      border-radius: 0.3rem;

      font-size: 1.1rem;
      font-weight: 600;
      color: #12171b;

      transition: 0.5s;
    }

    .link:hover {
      background-color: #b6b6b62c;
    }

    .active_link {
      outline: 1px solid #9c9c9c66;
      color: #4209ed;
    }
  }
}
